#root {
  
  margin: auto;
  padding: 0rem;
  text-align: center;
  align-items: center;
  ;

}

body{
  
  background-color: rgb(247, 253, 196) ;
  overflow: scroll;
  
}
main {
  flex: 1; /* This makes the main content take up the remaining space */
 /* Optional: add padding to main content */
  overflow: scroll;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

/* Ensure the main content area grows and shrinks as needed */
.app > *:not(footer) {
  flex: 1;
}

/* Footer styles */
footer {
  background: #f8f9fa;
  position: relative;
  padding: 1em;
  text-align: center;
}






